:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: "Aeonik",ui-monospace,Menlo,Monaco,"Cascadia Mono","Segoe UI Mono","Roboto Mono","Oxygen Mono","Ubuntu Monospace","Source Code Pro","Fira Mono","Droid Sans Mono","Courier New",monospace;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}

#root {
  min-height: 100vh;
  min-height: 100svh;
}

* {
  margin: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}