$font-size-smallest: 0.6rem;
$font-size-smaller: 0.7rem;
$font-size-small: 0.8rem;
$font-size-normal: 1rem;
$font-size-medium: 1.2rem;
$font-size-large: 1.6rem;
$font-size-xl: 2rem;
$font-size-xxl: 3rem;
$font-size-xxxl: 4rem;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semi-bold: 500;
$font-weight-bold: 600;
$font-weight-extra-bold: 700;

$color-white: #fff;
$color-black: #000;

$color-neutral-100: #eee;
$color-neutral-200: #ddd;
$color-neutral-300: #ccc;
$color-neutral-400: #b9b9b9;
$color-neutral-500: #a9a9a9;
$color-neutral-600: #989898;
$color-neutral-650: #787878;
$color-neutral-700: #545454;
$color-neutral-800: #242424;
$color-neutral-900: #151515;

$color-slate-100: #f8fafc;
$color-slate-200: #cbd5e1;
$color-slate-300: #94a3b8;
$color-slate-400: #64748b;
$color-slate-500: #475569;
$color-slate-600: #334155;
$color-slate-700: #1e293b;
$color-slate-800: #0f172a;
$color-slate-900: #020617;

$color-light-pink: #ff7b9c;
$color-pink: #f3537e;
$color-dark-pink: #ff3971;

$color-orange: #e87c03;

$color-light-green: rgba(#4ADE80, 0.6);
$color-green: #4ADE80;
$color-dark-green: #3ebe6d;

$color-light-blue: #1283fc;
$color-blue: #0071eb;

$color-red: rgb(226, 20, 31);