@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.chat-container {
  flex: 3 1;
  min-width: 14rem;
  position: relative;
  @include flex-column-start-stretch;

  &[data-theme="light"] {
    background-color: $color-white;
  }
  &[data-theme="dark"] {
    background-color: $color-neutral-900;
  }

  > .empty-chats-message {
    position: absolute;
    inset: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
    padding: .2rem;

    font-size: $font-size-small;
    font-weight: $font-weight-normal;
    text-align: center;

    &[data-theme="light"] {
      color: $color-black;
    }
    &[data-theme="dark"] {
      color: $color-white;
    }
  }
}