@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.page-wrapper {
  @include flex-column-start-center;
  min-height: 100vh;
  min-height: 100svh;
  width: 100%;
  min-width: 24rem;

  &[data-theme="light"] {
    background-color: $color-white;
  }

  &[data-theme="dark"] {
    background-color: $color-neutral-800;
  }
}