@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.Styled-input {
  @include flex-column-center-start;
  position: relative;
  margin-bottom: 4px;
  width: 100%;

  .Input {
    width: 100%;
    height: 50px;
    padding: 24px 16px 4px 16px;
    border-radius: 3px;
    font-size: 16px;

    &[data-theme="light"] {
      background-color: $color-white;
      border: 1px solid $color-neutral-300;
      color: $color-neutral-800;
      color-scheme: light;
    }
    &[data-theme="dark"] {
      background-color: $color-neutral-900;
      border: 1px solid rgba($color-neutral-900, 0.6);
      color: $color-slate-100;
      color-scheme: dark;
    }
  }

  .Title {
    position: absolute;
    left: 20px;
    top: 14px;

    font-size: 16px;
    font-weight: 400;

    pointer-events: none;
    transition: all .2s;

    &[data-theme="light"] {
      color: $color-neutral-900;
    }
    &[data-theme="dark"] {
      color: $color-slate-100;
    }
  }

  .Warning {
    display: none;
    margin-top: 5px;
    font-size: 12.8px;

    &[data-theme="light"] {
      color: $color-red;
    }
    &[data-theme="dark"] {
      color: $color-orange;
    }
  }

  .Show {
    position: absolute;
    top: 16px; //altura do input é 3rem fixos
    right: 16px;

    z-index: 9999;
    cursor: pointer;

    &[data-theme="light"] {
      color: $color-neutral-900;
    }
    &[data-theme="dark"] {
      color: $color-slate-100;
    }
  }





  .Input:focus {
    backdrop-filter: opacity(0.3);
  }

  .Input:focus+.Title {
    font-size: 11.2px;
    font-weight: $font-weight-normal;
    top: 6px;
  }







  .Input:valid[wasBlured="true"] {

    &[data-theme="light"] {
      border-bottom: 1px solid $color-dark-green;
    }
    &[data-theme="dark"] {
      border-bottom: 1px solid $color-light-green;
    }

    + .Title {
      &[data-theme="light"] {
        color: $color-dark-green;
      }
      &[data-theme="dark"] {
        color: $color-light-green;
      }
    }
  }

  .Input:valid+.Title {
    font-size: 11.2px;
    font-weight: $font-weight-normal;
    top: 6px;
    left: 17px;
  }






  .Input:invalid[wasBlured="true"] {
    
    &[data-theme="light"] {
      border-bottom: 2px solid $color-red;
    }
    &[data-theme="dark"] {
      border-bottom: 2px solid $color-orange;
    }

    + .Title {
      &[data-theme="light"] {
        color: $color-red;
      }
      &[data-theme="dark"] {
        color: $color-orange;
      }
    }
  }

  .Input:invalid[wasBlured="true"]~.Warning {
    display: block;
  }

  .Input:invalid+.Title {
    font-size: 11.2px;
    font-weight: $font-weight-normal;
    top: 6px;
    left: 17px;
  }
}