@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.chats-container {
  flex: 1 1;
  min-width: 12rem;
  @include flex-column-start-stretch;

  &[data-theme="light"] {
    border-right: 1px solid rgba($color-black, 0.24);
  }
  &[data-theme="dark"] {
    border-right: 1px solid rgba($color-white, 0.24);
  }

  > .chats-header {
    @include flex-column-start-start;
    gap: 1rem;
    padding: 1rem;
    &[data-theme="light"] {
      border-bottom: 1px solid rgba($color-black, 0.24);
    }
    &[data-theme="dark"] {
      border-bottom: 1px solid rgba($color-white, 0.24);
    }

    > .chats-header-toolbar {
      @include flex-row-space-between-center;
      width: 100%;

      > .title{
        font-size: $font-size-large;
        font-weight: $font-weight-semi-bold;

        &[data-theme="light"] {
          color: $color-black;
        }
        &[data-theme="dark"] {
          color: $color-white;
        }
      }

      > .creat-chat-icon {
        width: 1.6rem;
        height: auto;
        cursor: pointer;
        &[data-theme="dark"] {
          filter: invert(1);
        }
      }
    }

    > .search-input-wrapper {
      position: relative;
      width: 100%;

      > .search-input {
        width: 100%;
        padding: .6rem 2rem .6rem .8rem;
        background-color: $color-neutral-100;
        border-radius: .4rem;

        font-size: $font-size-small;
        font-weight: $font-weight-normal;
      }

      > .search-icon {
        position: absolute;
        top: .3rem;
        right: .3rem;

        width: 1.5rem;
        height: auto;
        color: $color-neutral-700;

        cursor: pointer;
      }
    }

  }

  > .chats {
    flex: 1;
    @include flex-column-start-center;
    &[data-theme="light"] {
      color: $color-black;
    }
    &[data-theme="dark"] {
      color: $color-white;
    }

    > .chat {
      @include flex-row-start-center;
      width: 100%;
      height: 4rem;
      padding: .5rem 1.5rem;
      gap: .5rem;
      transition: background-color 200ms;
      cursor: pointer;
      &[data-theme="light"] {
        border-bottom: 1px solid rgba($color-black, 0.24);
        &:hover {
          background-color: rgba($color-black, 0.08);
        }
      }
      &[data-theme="dark"] {
        border-bottom: 1px solid rgba($color-white, 0.24);
        &:hover {
          background-color: rgba($color-white, 0.08);
        }
      }

      > .chat-icon {
        width: 2rem;
        height: 2rem;
        object-fit: cover;
        border-radius: 50%;
      }

      > .chat-infos-wrapper {
        display: grid;
        grid-template-columns: 1fr 3rem;
        column-gap: .5rem;
        width: 100%;
        padding: 0;

        li {
          list-style-type: none;

          font-size: $font-size-small;
          font-weight: $font-weight-normal;

          width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          &[data-theme="light"] {
            color: $color-neutral-650;
          }
          &[data-theme="dark"] {
            color: $color-neutral-500;
          }

          > img {
            width: auto;
            height: .6rem;
          }
        }

        li:nth-child(1){
          font-size: $font-size-normal;
          &[data-theme="light"] {
            color: $color-neutral-900;
          }
          &[data-theme="dark"] {
            color: $color-neutral-100;
          }
        }

        li[data-typing="true"]{
          color: $color-light-pink;
        }
      }
    }
  }

  > .new-chat-modal-background {
    display: block;
    position: fixed;
    inset: 0;
    margin: auto;
    visibility: hidden;
    background-color: transparent;
    width: 100vw;
    height: 100vh;
    height: 100svh;
    z-index: 999999;

    > .new-chat-modal {
      position: absolute;
      inset: 0;
      margin: auto;

      @include flex-column-start-start;
      gap: 1rem;
      width: 60vw;
      min-width: 16rem;
      height: fit-content;
      padding: 1rem;
      background-color: $color-white;
      box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
      border-radius: .4rem;
      &[data-theme="light"] {
        background-color: $color-white;
      }
      &[data-theme="dark"] {
        background-color: $color-neutral-700;
      }

      > .create-chat-wrapper {
        @include flex-row-space-between-center;
        width: 100%;
        padding: .5rem;
        gap: .5rem;
        &[data-theme="light"] {
          border-bottom: 1px solid rgba($color-black, 0.24);
        }
        &[data-theme="dark"] {
          border-bottom: 1px solid rgba($color-white, 0.24);
        }

        > .chat-name-input {
          width: 100%;
          padding: .6rem 2rem .6rem .8rem;
          border-radius: .4rem;

          font-size: $font-size-small;
          font-weight: $font-weight-normal;
          
          &[data-theme="light"] {
            background-color: $color-neutral-100;
            color: $color-neutral-900;
          }
          &[data-theme="dark"] {
            background-color: $color-neutral-900;
            color: $color-neutral-100;
          }
        }

        > .create-chat-icon {
          width: 1.8rem;
          height: auto;
          cursor: pointer;
          &[data-theme="light"] {
            color: $color-neutral-900;
          }
          &[data-theme="dark"] {
            color: $color-neutral-200;
          }
        }
      }

      > .all-chats {
        @include flex-column-start-start;
        width: 100%;

        > .chat-wrapper {
          @include flex-row-space-between-center;
          width: 100%;

          > .chat-name {
            width: 100%;
            font-size: $font-size-small;
            font-weight: $font-weight-semi-bold;
            &[data-theme="light"] {
              color: $color-neutral-900;
            }
            &[data-theme="dark"] {
              color: $color-neutral-200;
            }
          }

          > .enter-chat-icon {
            width: 1.5rem;
            height: auto;
            cursor: pointer;
            &[data-theme="light"] {
              color: $color-neutral-900;
            }
            &[data-theme="dark"] {
              color: $color-neutral-200;
            }
          }
        }
      }
    }
  }
}