@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.LoadingPage {
  @include flex-column-center-center;
  height: 100vh;
  min-height: 100svh;
  width: 100%;

  &[data-theme="light"]{
    background-color: $color-white;
  }
  &[data-theme="dark"]{
    background-color: $color-neutral-800;
  }
}